* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 80%;
    width: 70%;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 2px red;
}

.devider {
    height: 100%;
    width: 2px;
    background-color: aqua;
    cursor: col-resize;
}

.source {
    height: 100%;
    width: calc(50% - 1px);
    overflow-y: auto;
    resize: none;
    padding: 12px;
    border: none;
    font-size: 1em;
}

.source:focus {
    outline: none;
}

.preview {
    height: 100%;
    width: calc(50% - 1px);
    overflow-y: auto;
    background-color: antiquewhite;
    padding: 16px;
    border: none;
}

.preview > * {
    margin-top: 0;
}